<img src="/images/background.jpg" class="img-background">

<div class="form-login">
  <h2 class="login-title">Login</h2>
  <form action="/auth/login" method="POST" id="form-container">
    <label for="username-input">Username</label>
    <input id="username-input" type="text" name="username" placeholder="JohnHancock" class=""">

    <br><br>

    <label for="password-input">Password</label>
    <input id="password-input" type="password" name="password" placeholder="Your password">
    <br>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <br><br>

    <button type="submit" class="btn btn-dark btn-login">Login</button>

    <p class="account-message">Don't have an account yet?<a href="/auth/signup" class="button-sign">Signup</a></p>
  </form>
</div>