<img src="/images/background.jpg" class="img-background">

<section class="box form-login">
  <h2 class="signup-title">Signup</h2>

  <form action="/auth/signup" method="POST" enctype="multipart/form-data" id="form-container">
  <div class="form-sign-flex">
    <label for="username-input" class="label">Username</label>
    <input id="username-input" type="text" name="username" placeholder="Username">

    <label for="password-input" class="label">Password</label>
    <input id="password-input" type="password" name="password" placeholder="">

    <label for="email-input" class="label"> Email</label>
    <input id="email-input" type="email" name="email" placeholder="johnhancockw@ironhack.com">

    <label for="role-input" class="label">Who are you?</label>
    <select name="role" id="role-input">
      <option value="RENTER">Renter</option>
      <option value="OWNER">Owner</option>
    </select>
  </div>

    <label for="menu-input" class="label">Profile Picture</label><br>
    <input id="menu-input" type="file" name="photo" placeholder="" required></article>
    <br>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}



    <button type="submit" class="btn btn-dark btn-signup">Signup</button>

    <p class="account-message">
      Do you already have an account?
      <a class="link" href="/auth/login">Login</a>
    </p>
  </form>
</section>