<div>
  <video playsinline="" autoplay="true" loop="true" muted="" class="fill-fullscreen">
    <source src="./video/BlueJoy.mp4" type="video/mp4">
  </video>
</div>
<h1 id="main-title" class="logo-principal">nauticapp</h1>
<div class="login-signup-index">
<p class="phase-index">Pull Up Your Anchors and Sail Away</p>
</div>