<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway|Red+Hat+Display:400,500,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<nav class="navbar navbar-light " style="background-color: #78c0bf">

  <a href="/" class="logo">nauticapp</a>
  <div class="nav-bar-flex">

    <a href="/user/search" class="elem-nav">Search</a>

    {{#if isLoggedOut}}
    <a href="/auth/login" class="elem-nav">Login</a>
    <a href="/auth/signup" class="elem-nav">Signup</a>

    {{else}}
    <a href="/auth/logout" class="elem-nav">Logout</a>
    {{/if}}
  </div>

</nav>






{{{body}}}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{apiGoogle}}"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
</body>

</html>