body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
  font-family: "Raleway", sans-serif;
}

// nav-bar
.logo {
  font-family: "Red Hat Display", sans-serif;
  font-size: 2em;
  margin-left: 2em;
}
.elem-nav {
  margin-right: em;
  text-decoration: none;
}
a {
  color: #f9f9f9;
  font-family: "Raleway", sans-serif;
  margin-right: 2em;
  text-decoration: none;
  font-size: 1.2em;
}
a:hover {
  text-decoration: none;
}

// Index
.logo-principal {
  font-family: "Red Hat Display", sans-serif;
  font-size: 8em;
  color: rgb(252, 242, 242);
  position: absolute;
  top: 34.5%;
  left: 32%;
}
.phase-index {
  position: absolute;
  font-size: 1.5em;
  top: 55%;
  left: 37%;
  color: rgb(252, 242, 242);
  margin-right: 20px;
}
.fill-fullscreen {
  width: 100%;
}

// Login
.img-background {
  width: 100%;
}
.form-login {
  position: absolute;
  top: 15%;
  left: 38%;
  background-color: rgba(217, 244, 241, 0.4);
  text-align: center;
  margin: 2em, 1.5em, 2em, 1.5em;
  border-radius: 5%;
}
.login-title {
  margin-top: 1em;
  margin-bottom: 1em;
}
.account-message {
  text-align: center;
  margin-right: 2.2em;
  margin-left: 3em;
  margin-bottom: 3em;
}
.btn-login {
  margin-bottom: 3em;
}
.button-sign {
  color: black;
  margin-left: 0.6em;
}

// Signup
.form-sign-flex {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}
.signup-title {
  margin-top: 1em;
}
.input-signup {
  padding-left: 20px;
}
.label {
  margin-top: 1.2em;
}
.btn-signup {
  margin-top: 2em;
}
.link {
  color: black;
}

// SEARCH
.icon-picture {
  width: 7%;
  border-radius: 50%;
  margin-top: 2em;
  margin-left: 4em;
}
.anchor-black {
  color: #78c0bf;
}
.user-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.name {
  font-size: 3em;
}
.name-user {
  margin-left: 2em;
}
.form-search {
  margin-left: 2.5em;
  margin-right: 2.5em;
  margin-top: 2.5em;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}
.date {
  height: 40px;
  border-radius: 5%;
}
.btn-search {
  background-color: #78c0bf;
  border: none;
  height: 40px;
  margin-top: 1.5em;
}
.map {
  height: 450px;
  width: 1300px;
  margin: 0 auto;
}
.button {
  display: block;
  width: 115px;
  height: 25px;
  background: #4e9caf;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: rgb(252, 242, 242);
  font-weight: bold;
}

// EDIT BOAT
.edit {
  margin-top: 180px;
}

// ADD BOAT
.new-boot {
  font-size: 3.5em;
  margin-top: 1.2em;
}
.add-form {
  margin-top: 50px;
}

.add-title {
  margin-top: 70px;
}

//RESERVE
.photo-reserve {
  width: 80%;
}
.reservation-title {
  margin-top: 1.5em;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 35%;
  color: #f9f9f9;
  // color:  #519897;
}
.reservation-title h1 {
  margin-bottom: 0.5em;
}
.reservation-form {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  margin: 0 auto;
  margin-top: 2em;
  border-radius: 25px;
  color:  #59898c;

}
.details {
  margin-left: 1.1em;
  padding-top: 1em;
  font-size: 2em;
  text-decoration: underline;
  color:  #48c1bf;
}
.pairs {
  display: flex;
  align-items: center;
  padding-left: 20em;
}
.pairs h4 {
  color: #48c1bf;
}
.pairs p {
margin-left: .9em;
margin-top: .5em;
font-size: 0.9em;
 
}
.accept-final {
  text-align: center;
  position: absolute;
  top: 68%;
  left: 35%;
}

.accept-final a {
  font-size: 2.6em;
  margin-right: -0.4em;
  color: #48c1bf;

}
.reservation-full {
  margin-top: 50px;
}
.boats {
  color: #78c0bf;
  text-align: center;
  margin-top: 1.5em;
}
.dom {
  margin-top: 4em;
}
.parent2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 3em;
}
.parentPhoto {
  width: 30%;
  margin-left: 19em;
}
.parent3 {
  width: 30%;
  margin-right: 10em;
  margin-top: 0.6em;
}
.parent3 a {
  font-size: 1.8em;
  color: #2fb1af;
}

.boat-picture {
  width: 40%;
}

.btn {
  background-color: #78c0bf;
  color: rgb(252, 242, 242);
}

.index-buttons {
  display: inline-flex;
}

.index-title {
  margin: 50px 0 0 80px;
}
