body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
  font-family: "Raleway", sans-serif;
}

// nav-bar
.logo {
  font-family: "Red Hat Display", sans-serif;
  font-size: 2em;
  margin-left: 2em;
}
.elem-nav {
  margin-right: em;
  text-decoration: none;
}
a {
  color: #f9f9f9;
  font-family: "Raleway", sans-serif;
  margin-right: 2em;
  text-decoration: none;
  font-size: 1.2em;
}
a:hover {
  text-decoration: none;
}

// Index
.logo-principal {
  font-family: "Red Hat Display", sans-serif;
  font-size: 8em;
  color: rgb(252, 242, 242);
  position: absolute;
  top: 34.5%;
  left: 32%;
}
.phase-index {
  position: absolute;
  font-size: 1.5em;
  top: 55%;
  left: 42%;
  color: rgb(252, 242, 242);
  margin-right: 20px;
}
.fill-fullscreen {
  width: 100%;
}

// Login
.img-background {
  width: 100%;
}
.form-login {
  position: absolute;
  top: 15%;
  left: 38%;
  background-color: rgb(252, 242, 242);
  opacity: 0.6;
  text-align: center;
  margin: 2em, 1.5em, 2em, 1.5em;
  border-radius: 5%;
}
.login-title {
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.account-message {
  text-align: center;
  margin-right: 2.2em;
  margin-left: 3em;
  margin-bottom: 3em;
}
.btn-login {
  margin-bottom: 3em;
}
.button-sign {
  color: black;
  margin-left: 0.6em;
}

// Signup
.form-sign-flex {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}
.signup-title {
  margin-top: 1em;
}
.input-signup {
  padding-left: 20px;
}
.label {
  margin-top: 1.2em;
}
.btn-signup {
  margin-top: 2em;
}
.link {
  color: black;
}

// SEARCH

figure {
  height: 600px;
  width: 1200px;
  margin: 0 auto;
}
.button {
  display: block;
  width: 115px;
  height: 25px;
  background: #4e9caf;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

// EDIT BOAT
.edit {
  margin-top: 180px;
}

// ADD BOAT
.add-form {
  margin-top: 50px;
}

.add-title {
  margin-top: 70px;
}

//RESERVE

.reservation-form {
  width: fit-content;
  background-color: rgba(120, 192, 191, 0.4);
  text-align: center;
  border-radius: 5%;
  padding: 20px 35px;
}

.reservation-title {
  margin-top: 80px;
  text-align: left;
}

.reservation-full {
  margin-top: 50px;
}

.pairs {
  padding: 5px 0px;
  border-top: 1px solid rgba(120, 192, 191, 0.4);
}
